@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

:root {
  --grey3: #d4d4d4;
  --grey2: #818181;
  --white: #fff;
  --blue: #2790c4;
  --backgroundinput: #0c222d;
  --background: #05151d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
 height: 100%;
}
body{
  background-color: var(--background);
  height: 100%;
}
.WholeBody {
    background-color: var(--background);
    padding: 0em 10.2em;
    
}
.navlinks {
  text-decoration: none;
  margin: 0rem 1rem;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  color: var(--grey2);
font-size: 18px;
font-family: Jost;
font-weight: 600;


}
/* .navlinks:hover{
    color: white;
} */
ul li {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}
.listed_item {
  list-style-type: none;
}

/* javascripthaburger */
.header__main-ham-menu-close {
  display: none;
  margin-right: 2em;
      margin-top: 0.5em;
      z-index: 10;
      animation: slide-in 1s forwards;
    }
    
    
    
    @keyframes slide-in {
      0% {
        right: -100%;
      }
      100% {
        right: 0%;
      }
    }


    /* animation: slide-out 1s forwards;
  }
  
  @keyframes slide-out {
    0% {
      right: 0;
    }
    100% {
      right: -100%;
    }
  } */
.header__main-ham-menu {
  display: none;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
  font-family: "Jost";
  position: fixed;
top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background);
  padding: 0em 10.2em;
  padding-top: 2em;
}
/* .logo img {
  margin-left: 5em;
} */

.listed_item {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}
/* .links_item {
    padding-right: 5em;
} */
/* javascript activelink */
.ActiveNav {
  color: white;
}



/* Hero */

.Hero {
    display: flex;
    justify-content: space-around;
    margin-top: 0em;
    padding-top: 5em;
    /* margin: 0em 10em; */
}
.daniel_Image {
    width: 100%;
    margin-top: 5rem;
}


/* .daniel_Image {
    animation: rotate 5s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */
.hero1 {
    
    margin-top: 7em;
    margin-right: 6rem;

    /* align-items: center; */
}
.hero1 h1 {
    color: var(--white);
font-size: 48px;
font-family: Jost;
font-weight: 10000;
padding-bottom: 1rem;
}
.job{
    color: var(--grey-3, #D4D4D4);
font-size: 20px;
font-family: Jost;
font-weight: 900;
text-transform: uppercase;
padding-bottom: 2rem;
}
.AboutDaniel {
    color: var(--grey-2, #818181);
font-size: 18px;
font-family: Jost;
line-height: 36px;
}
.btn__Cv{
    margin-top: 2em;
}
.ButtonReach button {
    background-color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 10px;
padding: 0.8rem 2rem;
color: var(--grey-3, #D4D4D4);
font-size: 15px;
font-family: Jost;
font-weight: 500;
line-height: 26px;
cursor: pointer;
color: var(--background);
font-weight: 700;
}

.ButtonReach button:hover {
    animation: bounce 1s 1;
  color: white;
}
.navbar {
  z-index: 10;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
      100% {
        transform: translateY(0);
      }
    
  }
  .btnreach_Cv {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 3em;
  }
  .btnreach_Cv a{
text-decoration: none;
  }
 .btncv {
    background-color: var(--backgroundinput);
    border: 2px solid var(--blue);
    border-radius: 10px;
    padding: 0.8rem 2rem;
color: var(--grey-3, #D4D4D4);
font-size: 15px;
font-family: Jost;
font-weight: 500;
line-height: 26px;
cursor: pointer;
margin-left: 1em;
display: flex;
justify-content: center;

color: var(--blue);
 }
 .btncv img {
    margin-top: 0.2em;
    margin-left: 1em;
 }

 
.btnreach_Cv button:hover {
    animation: bounce 1s 1;
  
}
.CV:hover {
    border: 2px solid white;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
      100% {
        transform: translateY(0);
      }
    
  }

/* skills */
.skilled {
    margin-left: 12rem;
    margin-right: 5rem;
    margin-top: 7em;
}
.textSkills {
    color: var(--white, #FFF);
font-size: 48px;
font-family: Jost;
font-weight: 900;

}
.imgskill img{
    cursor: pointer;
    width: 100%;
}
.subskills {
    color: var(--grey-2, #818181);
font-size: 20px;
font-family: Jost;
}
.title_skill {
    color: #FFF;
font-size: 24px;
font-family: Jost;
}
.the_skills {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    margin-top: 4em;
    margin-right: 5em   ;
}
.see_more p {
    color: var(--google-border-color, #DADCE0);
font-size: 20px;
font-family: Jost;
line-height: 26px;
}
.see_more {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-right:8rem;
    cursor: pointer;
}
.skill1 {
  width: 400px;
}
/* projects */

.projects {
    margin-top: 8em;
    /* margin-left: 12rem;
    margin-right: 5rem; */
}
.headerprojects {
    margin-bottom: 3.5em;
}
.headerprojects h1 {
    color: var(--white, #FFF);
font-size: 48px;
font-family: Jost;
font-weight: 700;
}
.headerprojects p {
    color: var(--grey-2, #818181);
font-size: 20px;
font-family: Jost;
}
.title_project p {
    color: var(--grey-3, #D4D4D4);
font-size: 16px;
font-family: Jost;
font-weight: 300;
}

.title_project h2 {
    color: #FFF;
    font-size: 24px;
    font-family: Jost;
}
.the-projects {
    display: flex;
    justify-content: space-between;
gap: 75px;
width: 100%;
}

.the-projects img {
    width: 80%;
    cursor: pointer;
}
.MORE-PROJECT {
    margin-right: 8em;
}
.project1 {
  width: 100%;
}
.project2 {
  width: 100%;
}
/* services */
.header-services h1 {
    color: var(--white, #FFF);
font-size: 48px;
font-family: Jost;
font-weight: 500;
}
.header-services {
    margin-bottom: 3.5em;
    margin-right: 5rem;
}
.header-services p {
    color: var(--grey-2, #818181);
font-size: 20px;
font-family: Jost;
}
.title-service h3 {
    color: #FFF;
font-size: 24px;
font-family: Jost;
}

.the-services {
  display: flex;
  justify-content: space-between;
gap: 50px;
width: 100%;
}

.the-services img {
  width: 80%;
  cursor: pointer;
}
.MORE-SERVICE {
  margin-right: 8em;
}
.service1 {
width: 100%;
}
.service2 {
width: 100%;
}
.services {
  margin-top: 8em;
  margin-left: 12rem;
  margin-right: 5rem;
}
/* .services {
    margin-top: 8em;
    margin-left: 12rem;
    margin-top: 8em;
    margin-left: 12rem;
    margin-right: 12rem;
}
.the-services {
    display: flex;
justify-content: space-between;
    width: 100%;
}
.the-services img {
    width: 100%;
 
    cursor: pointer;
}
.MORE-SERVICES {
margin-right: 5em;
}
.service1 {
  width: 40%;
  
} */


.projects {
  margin-top: 8em;
  /* margin-left: 12rem;
  margin-right: 5rem; */
}
/* c
ontact */
.contact {
    margin-top: 8em;
    /* margin-left: 12rem;
    margin-right: 5rem; */
    /* margin-right: 10em;
    margin-left: 10em; */
}

.message {
background-color: var(--backgroundinput);
border: 2px solid var(--backgroundinput);
width: 85%;
border-radius: 12px;
border: 2px solid #2D4753;
background: #0C222D;
height: 258px;
margin-top: 3.5em;
color: #B8B8B8;
font-size: 18px;
font-family: Jost;
font-weight: 300;
}
.contact_message {
  width: 100%;
  margin-top: 1em;
}
.input-contact::placeholder {
    color: #B8B8B8;
    font-size: 18px;
    font-family: Jost;
    font-weight: 300; 
}
.header-contact h1 {
    color: var(--white, #FFF);
font-size: 48px;
font-family: Jost;
font-weight: 500;
}
.header-contact p {
    color: var(--grey-2, #818181);
    font-size: 20px;
    font-family: Jost;
}
/* .btn-send {
    position: relative;
} */
.btn-send-reach {
  align-self: flex-end;
  justify-self: end;
  margin-right: 6%;
  transform: translateY(-3.3em);
}
.send_input {
    border-radius: 6px;
background: #1A3542;
border: 2px solid #1A3542;
padding: 1em 2em;
color: var(--grey3);
cursor: pointer;
transition: background-color 0.3s;
/* float: right;
position: absolute;
left: 75%;
transform: translateY(-55px); */

}
.send_input:hover{
  background-color: var(--blue);
}
.socials {
    display: flex;
    justify-content: center;
    align-items: center;

}
.socials a {
    background-color: var(--backgroundinput);
    margin: 0.5em;
    padding: 1em;
    border-radius: 50%;
}

.header-reach-out h1 {
    color: #FFF;
font-size: 24px;
font-family: Syne;
font-weight: 600;
text-align: center;

padding-top: 1em;
}
.header-reach-out p {
    color: #FFF;
font-size: 16px;
font-family: Space Grotesk;
line-height: 22px;
text-align: center;
margin-top: 3em;
}

.REACH-SOCIALS a  {
    background-color: var(--background);
    margin: 0.5em;
    padding: 1.5em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: Jost;
transition: border-radius 0.5s;
}
.REACH-SOCIALS a b {
  margin-left: 0.5em;
  display: none;

}
.REACH-SOCIALS a:hover  {
  border-radius: 0%;
  padding: 1em 1.5em;
}
.REACH-SOCIALS a:hover b {
  display: block;
}
.REACH-SOCIALS {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 0 auto;
margin-right: 0em;
margin-top: 0EM;
}
.REACH-OUT-NOW {
    width: 50%;
    margin-left: 0rem;
    background-color: var(--backgroundinput);
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
z-index: 101;
position: fixed;
display: none;
} 
.message_reach {
  width: 90%;
margin: 0 auto;
margin-top: 2em;
}
/* .REACH_INPUT {
  padding: 0em 2em;
} */

/* .container-reach {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}
.container-reach:hover {
    position: relative;
    animation: fall 2s ease-in-out infinite;
  } */
  
  @keyframes fall {
    0% {
      top: -100px;
    }
    50% {
      top: 50%;
    }
    100% {
      top: 100%;
    }
  }
  
.REACH_INPUT main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(1px);
    z-index: 100;
    position: fixed;
    display: none;
  } 
  .message_reach {
    width: 90%;
  }
  .btn-reach-out {
    /* position: absolute; */
    float: right;
    display: flex;
    justify-self: end;
    align-self: end;
float: right;
  }




.LESS {
  display: none;
}
.LESS {
  display: none;
}
.hidden {
  display: none;
}
/* 
  .REACH-OUT-NOW {
   
    overflow: hidden;
    position: relative;
  }
   */
  /* .REACH-OUT-NOW {
    animation: falling 0.2s linear ;
    transition: transform 0.5s;
    position: fixed;
    top: 0;
    /* margin-top: 150px;
    z-index: 10;
    display: none;
    
  }
  
  @keyframes falling {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  } */
  
.send_of_contact {
  position: relative;
}


  .contact_send {
    float: right;
    margin-right: 5%;
    position: absolute;
    top: -60px;
    right: 0;
    margin-right: 1.5em;
  }
  .input-contact main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .send_of_contact {
    align-self: flex-end;
  }


  
 textarea
 {
  resize: none;
 }
 input:focus{
  outline: none;
 }
 textarea:focus {
  outline: none;
 }


 .contact__form-input {
  color: #333;
  padding: 2rem;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 1.6rem;
  letter-spacing: 0px;
  background: #f0f0f0;
  border-radius: 5px;
  font-weight: 600;
  /* Code for Modern Browsers */
  /* Code for WebKit, Blink, Edge */
  /* Code for Internet Explorer 10-11 */
  /* Code for Microsoft Edge */
  /* Code for Mozilla Firefox 4 to 18 */
  /* Code for Mozilla Firefox 19+ */ }
  .contact_message::placeholder {
    color: red;
    font-weight: 600;
    font-size: 1.6rem;
   }
.input_form {
  background-color: var(--backgroundinput);
  border: 2px solid var(--backgroundinput);
  width: 100%;
  padding: 1em 1em;
  border-radius: 12px;
  border: 2px solid #2D4753;
  background: #0C222D;
  margin-top: 1em ;
  color: #B8B8B8;
  font-size: 18px;
  font-family: Jost;
  font-weight: 300;
}
.text {
  margin-right: 1em;
}
.form_input {
  display: flex;
}

.DIYADANIEL {
  
  color: #FFF;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 3em;
}
.socials_contact a {
  background-color: var(--backgroundinput);
}
.project1 {
  z-index: 1;
}
.img_project {
  z-index: 0;
}
@media   (max-width: 1370px){
  .WholeBody {
    background-color: var(--background);
    padding: 0em 5.2em;
  }
  .navbar{
    padding: 2em 5.2em;
  }
}
  

  @media only screen and (max-width: 1250px) {
    .contact_send {
      border-radius: 6px;
  background: #1A3542;
  border: 2px solid #1A3542;
  padding: 1em 2em;
  color: var(--grey3);
  position: absolute;
  margin-right: 1.5em;
  cursor: pointer;
  }
  /* .daniel_Image {
    margin-right: 4rem; 
} */
.daniel_Image  {
  width: 100%;
}
/* .contact_socials {
  margin-right: 10em;
} */
.hero1 {
    
  margin-top: 7em;
  margin-right: 2rem;
  /* margin-left: 5rem; */
  /* align-items: center; */
}
.WholeBody {
  background-color: var(--background);
  padding: 0em 3.2em;
}
.navbar{
  padding: 2em 3.2em;
}


  }
  @media only screen and (max-width: 1070px) {
    .ButtonReach button {
      background-color: var(--blue);
      border: 2px solid var(--blue);
      border-radius: 10px;
 
  color: var(--grey-3, #D4D4D4);
  font-size: 15px;
  font-family: Jost;
  font-weight: 500;
  line-height: 26px;
  cursor: pointer;
  color: var(--background);
  font-weight: 700;
  }
  .see_more {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-right: 0rem;
    margin-top: 1em;
    cursor: pointer;
}
.see_more p {
  text-align: center;
}
.skilled {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 7em;
}
.the_skills {
  display: flex;
  gap: 150px;
  margin-top: 4em;
  margin-right: 2em;
}
.projects {
  margin-top: 7em;
  /* margin-left: 5rem;
  margin-right: 2rem; */
}
.services {
  
    margin-top: 4em;
    margin-left: 5rem;
    margin-right: 5rem;
}
.contact {
  margin-top: 8em;
  /* margin-left: 5rem;
  margin-right: 0rem; */
}
.message {
  width: 90%;
}
/* .send_input {
  float: right;
  display: flex;
  justify-content: end;
  align-items: end;

  top: 0;
  left: 0;
  transform: translateY(-60px);
z-index: -10;

} */
.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-right: 0em;
  
  }
  /* .btn-send {
    align-self: flex-end;
    justify-self: end;
    margin-right: 2.4em;
    transform: translateY(-3.3em);
  } */
  .WholeBody {
    background-color: var(--background);
    padding: 0em 3.2em;
  }
  .navbar{
    padding: 2em 3.2em;
  }
  }
  
  @media only screen and (max-width: 1050px) {
    .AboutDaniel {
      color: var(--grey-2, #818181);
  font-size: 18px;
  font-family: Jost;
  line-height: 25px;
  margin-bottom: 2em;
  }
  .hero1 h1 {
    color: var(--white);
font-size: 40px;
font-family: Jost;
font-weight: 10000;
padding-bottom: 1rem;
}
 .daniel_Image {
  margin-right: 2rem; 
  width: 400px;
}
.daniel_Image {
width: 100%;
}
.WholeBody {
  background-color: var(--background);
  padding: 0em 3.2em;
}
.navbar{
  padding: 2em 3.2em;
}
  }
  @media only screen and (max-width: 970px) {
    .Hero {
      display:flex;
      flex-direction: column;

    }
  
    .daniel_Image  {
      width: 100%;
    margin-left: 1em;
      margin-top: 4em;
    }
    .hero1 {
      display: flex;
      flex-direction: column;
      margin-left: 2em;
    }
   
    .hero1 p {
      line-height: 35px;
    }
    .btnreach_Cv {
      display: flex;
      flex-direction: column;
    }
    .btncv {
      margin-top: 1em;
      margin-left: 0em;
    }
    .ButtonReach button {
padding: 0.5em 2.5em;
    }
  } 
  @media only screen and (max-width: 970px) {
    .contact_socials {
      display: flex;
      justify-content: center;
      align-items: center;
      
      margin-right: 0em;
    }
    .the-services {
      display: flex;
      gap: 30px;
  }
  .the-projects {
    display: flex;
    flex-direction: row;
gap: 30px;
margin-right: 0em;

}
.the-projects img {
  width: 100%;
}
.the_skills {
  display: flex;
  flex-direction: row;
gap: 30px;
margin-right: 1em;
}
.skilled {
  margin: 6em 1em;
}
.projects {
  margin: 6em 1em;
  margin-bottom: 0em;
}
.services {
  margin: 6em 1em;
}
.REACH-OUT-NOW {
  width: 90%;
}
.REACH_INPUT textarea {
  width: 90%;
}

.btn-reach-out {
  margin-right: 1em;
}

.btn-send-reach {
  margin-right: 4%;
}
.contact {
  margin-top: 8em;
  margin-right: 6em;
  margin-left: 6em;
}
  }
  @media only screen and (max-width: 600px)  {
    .daniel_Image  img {
      width: 90%;
      margin: 3em;
      margin-bottom: 0em;
    margin-left: 0em;
    }
    .contact {
      margin-left: 1em;
      margin-right: 1em;
    }
    .message {
      width: 100%;
      
    }
    .contact_send{
      margin-right: 1em;
    }
  
    .contact_socials {
      margin-left: 0em;
      margin-right: 0em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header__main-ham-menu {
      display: block;
      margin-right: 2em;
      margin-top: 0.5em;
      z-index: 10000;
    }
    .header__main-ham-menu-cont {

      z-index: 1000;
      cursor: pointer;
    }

.logo img {
  margin-left: 2em;
}
.links_item {
  position: absolute;
  top:  0;
  right: 0px; /* Offscreen initially */
  width: 70%;
  height: 100vh;
  background-color: var(--background);
  transition: right 0.3s;
 z-index: 100;
 display: none;
}
.listed {
  position: absolute;
  top:  0;
  right: 0px; /* Offscreen initially */
  width: 70%;
  height: 100vh;
  background-color: var(--background);
  transition: right 0.3s;
 z-index: 100;
 display: block;
 animation: slide-in 1s forwards;
}



@keyframes slide-in {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
.links_item ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  z-index: 100;
  
}
.links_item ul li {
  margin: 1em;  
  margin-left: 1em;
}
.links_item ul li:first-child {
  margin-top: 2em;
}

.header__main-ham-menu:checked + .menu {
  right: 0; /* Slide in from the right */
}
.btn-send .contact_send {
  z-index: 0;
}
.header-services h1 {
  font-size: 24px;
}
.headerprojects h1 {
  font-size: 24px;
}
.header-contact h1 {
  font-size: 24px;
}
.headerskills h1 {
  font-size: 24px;
}
/* .REACH-OUT-NOW {
  margin-top: 100px;
} */
  }

  @media only screen and (max-width: 460px)  {
    .WholeBody {
      background-color: var(--background);
      padding: 0em 1.2em;
    }
    .navbar{
      padding: 2em 0.2em;
    }
    .hero1 {
      margin-top: 2em;
    }
.btnreach_Cv {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ButtonReach .ReachOut {
  width: 200px  ;
  margin-bottom: 1.5em;
  padding: 0.5em 0em;
  
}
.btncv {
  width: 100% ;    
  padding: 0.5rem 0rem;
width: 200px;

}
.CV {
  margin-left: 0EM;

}
.contact_socials {
  display: flex;
justify-content: space-around;
  justify-content: space-around;
flex-direction: row;
  margin-right: 0em;
  margin: 3em;
 margin-bottom: 0em;
}
.contact_socials a {
  margin-right: 0em;
}
.daniel_Image{
  width: 90%;
  display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
margin-top: 2em;
margin-left: 2em;
}
.header-contact h1 {
  font-size: 24px;
}
/* .REACH-OUT-NOW {
  margin-top: 100px;
} */
.the-projects {
  display: flex;
  flex-direction: column;
}
.form_input {
  display: flex;
  flex-direction: column;
}
  }
  @media only screen and (max-width: 375px) {
    .hero1 h1 {
      color: #FFF;
font-size: 24px;
font-family: Jost;
font-style: normal;
font-weight: 500;
line-height: normal;

    }
    .hero1 p {
      color: var(--grey-3, #D4D4D4);
font-size: 14px;
font-family: Jost;
font-style: normal;
font-weight: 400;
line-height: 28px;
    }

  }